<% if (title) { %><h1 class="h1-classification-view"><%= title %></h1><% } else { res.redirect('/') } %>


<% if (message) { %><p class="notice">
      <%= message %></p><% } %><% 
      
            if (data.length > 0) { %><ul id="inv-display"> <% 
            
            
            data.forEach(vehicle => { %> <li> <a class="image-link" href="../../inv/detail/<%= vehicle.inv_id %>"
                  title="View <%= vehicle.inv_make %> <%= vehicle.inv_model %> details"> <img
                        src="<%= vehicle.inv_thumbnail %>"
                        alt=" Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %> on CSE Motors"
                        id="classification-image"> </a>
            <div class="name-price">

                  <h2> <a href="../../inv/detail/<%= vehicle.inv_id %>"
                              title="View <%= vehicle.inv_make %> <%= vehicle.inv_model %> details"
                              id="classification-vehicle-name-style">
                              <%= vehicle.inv_make %> <%= vehicle.inv_model %> </a> </h2>
                  <span id="classification-price">Price:
                        $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %></span>
                  <hr />
            </div>
      </li> <% }) %></ul><% } else { %><p class="notice">Sorry, no matching vehicles could be found.</p><% } %>